<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Head to Head Graphic</title>
  <link rel="stylesheet" href="/static/css/graphics-base.css" />
  <link rel="stylesheet" href="/static/css/head-to-head.css" />
</head>
<body class="graphics-body source-head-to-head">
  <div id="graphicsRoot"></div>
  <script src="/static/js/graphics-shared.js"></script>
  <script src="/static/js/head-to-head.js"></script>
</body>
</html>
